<ng-content select="h1"></ng-content>

 <!-- <div *ngIf="nome != 'Joao'">
    <p [ngClass]="{'active': valor, 'disabled': !valor}">ngClass</p>
</div>
<button (click)="mudar()">Botão</button>

<hr>
 <p [ngStyle]="{'height': tamanho, 'background-color': cor}">ngStyle</p>  -->

 <input [(ngModel)]="nome"> {{nome}}
<button (click)="salvar()">Salvar</button>

<ng-template ngFor let-item [ngForOf]="list">
    <p>
        {{item.nome}}
    </p>
</ng-template> 

<ng-content select="h3"></ng-content>


<input [(ngModel)]="nome"> {{nome}}
<button (click)="salvar()">Salvar</button>

<li *ngFor="let item of list">{{item.nome | uppercase}}</li>

{{date | date: 'dd/MM/yyyy'}}